* {
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
}

.content {
  background-color: rgba(0, 0, 0, 0.9);
}

* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Comfortaa", cursive;
  line-height: 1.8em;
}

.welcome {
  width: 80vw;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  background-position: center;
  color: white;
  animation: code-animation 12s infinite;
  background-size: cover;
  background-repeat: no-repeat;
}
.welcome-title {
  font-size: 3rem;
  padding: 6em 0 0.1em;
  opacity: 1;
}
.welcome-description {
  font-size: 2rem;
  padding: 0.1em 0 6em;
  font-weight: 700;
  opacity: 1;
}

.navigation {
  position: fixed;
  display: flex;
  top: 5em;
  left: calc(100% - 48px - .5em);
  transition: left 0.7s ease-in-out;
  align-items: flex-start;
  box-sizing: border-box;
  z-index: 3;
}
@media screen and (max-width: 427px) {
  .navigation:hover, .navigation:focus-within {
    left: calc(100% - 48px - 16em);
  }
}
@media screen and (min-width: 428px) and (max-width: 640px) {
  .navigation:hover, .navigation:focus-within {
    left: calc(100% - 48px - 21em);
  }
}
@media screen and (min-width: 641px) and (max-width: 1200px) {
  .navigation:hover, .navigation:focus-within {
    left: calc(100% - 48px - 24em);
  }
}
@media screen and (min-width: 1201px) {
  .navigation:hover, .navigation:focus-within {
    left: calc(100% - 48px - 26em);
  }
}

.menu-icon {
  display: inline-flex;
  align-self: baseline;
  margin-right: 0.5em;
  filter: invert(1);
  background-color: #dddad9;
  border-radius: 50%;
}

.menu {
  box-sizing: border-box;
  text-align: left;
  margin: 0;
  padding: 0.5em;
  background-color: #dddad9;
  border-radius: 1em;
  border: 1px solid #c34109;
  list-style-type: none;
}
@media screen and (max-width: 427px) {
  .menu {
    width: 15em;
  }
}
@media screen and (min-width: 428px) and (max-width: 640px) {
  .menu {
    width: 20em;
  }
}
@media screen and (min-width: 641px) and (max-width: 1200px) {
  .menu {
    width: 23em;
  }
}
@media screen and (min-width: 1201px) {
  .menu {
    width: 25em;
  }
}
.menu-item {
  padding: 0.15em 1em;
  list-style: none;
}
.menu-item:first-child {
  padding-top: 0.3em;
}
.menu-item:last-child {
  padding-bottom: 0.3em;
}
.menu-item .section-link {
  display: block;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  transition: background-color 0.7s ease-in-out;
  border-radius: 1em;
  padding: 0.15em 0.5em;
}
.menu-item .section-link:hover, .menu-item .section-link:focus {
  background-color: #f9521a;
  outline: none;
}
.menu-item .section-link:active {
  background-color: #c34109;
}

.cclogo {
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes code-animation {
  0%, 25% {
    background-image: url("../img/html-code2.png");
    filter: grayscale(0.7);
  }
  33%, 57% {
    background-image: url("../img/java-code2.png");
    filter: grayscale(0.7);
  }
  66%, 91% {
    background-image: url("../img/ts-code2.png");
    filter: grayscale(0.7);
  }
  100% {
    background-image: url("../img/html-code2.png");
    filter: grayscale(0.7);
  }
}
.article {
  width: 80vw;
  box-sizing: border-box;
  margin: auto;
  padding-bottom: 2rem;
  background-color: #d6d2d1;
  color: rgba(0, 0, 0, 0.9);
}
.article-title {
  font-size: 2.2em;
  text-align: center;
  padding: 2rem 0.5rem;
}
.article-content, .contact-text {
  font-size: 1.4rem;
  text-align: justify;
  padding: 1rem 3rem;
}
.article-ending {
  font-size: 1.3em;
  padding: 1em;
  text-align: center;
}
.article-subtitle {
  padding-bottom: 0.1em;
}
.article-break {
  width: 80vw;
}
@media screen and (max-width: 1550px) {
  .article-about {
    display: block;
  }
}
@media screen and (min-width: 1550px) {
  .article-about {
    display: inline-block;
    width: 50vw;
  }
}

.section {
  width: 75vw;
  box-sizing: border-box;
  margin: 2rem auto 0;
  background-color: #1c1917;
  color: #d6d2d1;
}
.section-title {
  font-size: 1.8em;
  text-align: center;
  padding: 2rem 0.5rem;
}
.section-content {
  font-size: 1.5rem;
  text-align: justify;
  padding: 1rem 3rem;
}

.btn {
  display: inline-block;
  font-size: 1.2rem;
  border: 1px solid #c34109;
  background-color: #f9521a;
  padding: 0.5rem 0.8rem;
  margin: 1rem 2rem;
  transition: all 0.7s ease-in-out;
  border-radius: 1em;
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.btn:hover {
  background-color: #c34109;
  border-radius: 0.5em;
}

.links {
  text-align: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;
  align-items: center;
  justify-items: center;
}

.jump-top {
  position: fixed;
  right: 0;
  bottom: 0;
}

.inline-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: #c34109;
  transition: color 0.7s ease-in-out;
}

.inline-link:hover {
  color: #f9521a;
}

.skills {
  width: 55vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 2rem;
}
.skills-content {
  filter: grayscale(0.9);
  transition: all 0.7s ease-in-out;
}
.skills-content:hover {
  filter: grayscale(0);
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.skills-icon {
  width: 10vw;
  height: auto;
}

.contact {
  text-align: center;
}
.contact-text {
  padding: 0;
  font-weight: 500;
  text-align: center;
}
.contact-list {
  padding: 0;
  list-style: none;
  margin: 0;
}
.contact-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.contact-list-icon {
  margin: 0 0.5rem;
}
.contact-list .inline-link {
  margin: 0;
}
.contact-list .small-icon {
  width: 1.5rem;
}
.contact-form {
  display: block;
  margin: auto;
}
@media screen and (max-width: 900px) {
  .contact-form {
    width: 80vw;
    height: 30vh;
  }
}
@media screen and (min-width: 900px) {
  .contact-form {
    width: 30vw;
  }
}
.contact-form-item > input {
  display: block;
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  padding: 0 0.5rem;
  color: #dddad9;
}
.contact-form-label {
  display: block;
  text-align: left;
}
.contact-message {
  margin: auto;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.9);
  color: #dddad9;
  resize: vertical;
}
@media screen and (max-width: 900px) {
  .contact-message {
    width: 80vw;
    height: 30vh;
  }
}
@media screen and (min-width: 900px) {
  .contact-message {
    width: 30vw;
    height: 15vw;
  }
}

.small-icon {
  width: 1rem;
  height: auto;
}

@media screen and (max-width: 466px) {
  .selfie {
    margin: auto;
    width: 70vw;
    height: auto;
    display: block;
    border-radius: 50%;
  }
}
@media screen and (min-width: 466px) and (max-width: 1550px) {
  .selfie {
    margin: auto;
    display: block;
    border-radius: 50%;
  }
}
@media screen and (min-width: 1550px) {
  .selfie {
    padding-left: 2rem;
    display: inline-block;
    border-radius: 50%;
    transform: translateY(-15vh);
  }
}

.about {
  width: 80vw;
}

@media screen and (max-width: 510px) {
  .resize {
    width: 60vw;
    height: auto;
  }
}
@media screen and (min-width: 510px) and (max-width: 1300px) {
  .resize {
    width: auto;
    height: 50vh;
  }
}
@media screen and (min-width: 1300px) {
  .resize {
    width: auto;
    height: 50vh;
  }
}

.hobbies {
  width: 80vw;
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 5vh;
}

.hobbie-description {
  font-size: 1.5rem;
}
@media screen and (max-width: 1300px) {
  .hobbie-description {
    width: 60vw;
  }
}
@media screen and (min-width: 1300px) {
  .hobbie-description {
    display: inline-block;
    width: 30vw;
    top: 0;
  }
}

.hobbie {
  left: 0;
  width: 60vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1c1917;
  color: #dddad9;
  margin-bottom: 5vh;
}
@media screen and (max-width: 1300px) {
  .hobbie {
    display: block;
  }
}
@media screen and (min-width: 1300px) {
  .hobbie {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.disclaimer {
  width: 80vw;
  text-align: center;
  font-size: 14px;
  color: #dddad9;
  background-color: rgba(0, 0, 0, 0.9);
}

/*# sourceMappingURL=index.css.map */
