:root {
    --main-background-color: hsla(263, 80%, 7%, 0.84);
    --light-font-color: hsla(0, 0%, 70%, 1);
    --light-background-color: hsl(263, 33%, 82%);
    --dimlight-background-color: hsl(251, 100%, 76%);
    --dark-background-color: hsl(263, 90%, 5%);
    --dark-font-color: hsl(0, 15%, 4%);
    font-size: 18px;
}

@media (max-width: 640px) {
    .menu {
        width: 14em;
        left: 100%;
    }

    .navigation:hover {
        left: calc(100% - 15.5em - 48px);
    }
}

@media (min-width: 640px) and (max-width: 1200px) {
    .menu {
        width: 17em;
        left: 100%;
    }

    .navigation:hover {
        left: calc(100% - 18.5em - 48px);
    }
}

@media (min-width: 1200px) {
    .menu { 
        width: 20em;
        left: 100%;
    }

    .navigation:hover {
        left: calc(100% - 21em - 48px);
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    margin: auto;
    background-color: var(--main-background-color);
    color: var(--light-font-color);
}

.content {
    width: 80%;
    margin: auto;
    overflow: hidden;
    scroll-behavior: smooth;
    background-color: var(--main-background-color);
}

.welcome {
    background-image: url();
    transition: transform .6s ease-in-out;
}

.welcome p:hover, .welcome h1:hover {
    transform: scale(1.1);
}

.welcome h1 {
    width: 100%;
    margin: 3em auto 0;
    text-align: center;
    font-size: 4rem;
}

.welcome p {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5em;
}

.navigation {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    position: fixed;
    top: 1em;
    left: calc(100% - .9em - 48px);
    transition: left 1s ease-in-out;
}

.navigation a {
    display: block;
    font-size: 0.9rem;
    color: var(--main-font-color);
    text-decoration: none;
    padding: .1em .7em;
    transition: background-color .6s ease-in-out;
    border-radius: .5em;
}

.navigation a:hover {
    background-color: var(--dimlight-background-color);
}

.menu{
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    margin-top: 1em;
    padding: .5em;
    background-color: var(--light-background-color);
    color: var(--dark-font-color);
    list-style: none;
    border-radius: 1em;
}

.menu ul {
    list-style: none;
    padding: 0 0 0 1.5em;
}

.menu-icon {
    display: inline-flex;
    margin-top: 1em;
    margin-right: .9em;
    transform: scale(.78);
    filter: invert(.77);
}

.projects {
    width: 100%;
    display: flex;
    list-style: none;
    align-content: center;
    justify-content: center;
    background-color: var(--light-background-color);
}

.projects > li {
    display: inline-flex;
    padding: 0.2em 2em;
    border-right: 1px dotted var(--dark-font-color);
    transition: background-color .6s ease-in-out;
}

.projects > li:first-child {
    border-left: 1px dotted var(--dark-font-color);
}

.projects a {
    text-decoration: none;
    color: var(--dark-font-color);
}

.projects li:hover {
    background-color: var(--dimlight-background-color);
}

.disclaimer {
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: center;
    font-size: .7rem;
    line-height: 1.5rem;
    color: var(--main-font-color);
}